body {
  position: relative;
  background: rgb(239 239 237) !important;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  text-align: center;
}

@media screen and (min-width: 1201px) {
  .App {
    position: relative;
    width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
  }

  .images {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    line-height: 1;
    border: none;
  }

  .images > div {
    height: 150px;
  }

  .images img {
    height: 150px;
  }

  .content {
    flex: 1;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20%;
  }

  .content .title {
    font-size: 50px;
    color: #000;
  }

  .content .mint {
    top: 45vh;
    text-align: center;
  }

  .content .mint .mint-text {
    font-size: 3rem;
  }

  .content .mint .mint-btn {
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    padding: 0 25px;
    border-radius: 40px;
  }

  .content .mint .mint-btn-small {
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    padding: 0 25px;
    border-radius: 40px;
  }

  .content .mint .u-d-btns {
    position: relative;
  }

  .content .mint .u-d-btn-1 {
    position: absolute;
    top: 0;
    left: -40px;
    font-size: 45px;
    line-height: 1;
  }

  .content .mint .u-d-btn-2 {
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 45px;
    line-height: 1;
  }

  .icons {
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .icons svg {
    width: 50px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    position: relative;
    width: 101%;
  }

  .container img {
    width: 100%;
  }

  .content {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content .title {
    font-size: 2rem;
    color: #ffffff;
    padding-top: 10vh;
  }

  .content .mint {
    position: absolute;
    top: 16vh;
    text-align: center;
  }

  .content .mint .mint-text {
    font-size: 1.5rem;
  }

  .content .mint .mint-btn {
    margin-top: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    padding: 0 2rem;
    border-radius: 3rem;
  }

  .content .mint .mint-btn-small {
    margin-top: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    padding: 0 2rem;
    border-radius: 2.25rem;
  }

  .content .mint .u-d-btns {
    position: relative;
  }

  .content .mint .u-d-btn-1 {
    position: absolute;
    top: 0;
    left: -1.5rem;
    font-size: 2.1rem;
    line-height: 1;
  }

  .content .mint .u-d-btn-2 {
    position: absolute;
    top: 0;
    right: -1.4rem;
    font-size: 2.1rem;
    line-height: 1;
  }

  .content .icons {
    position: absolute;
    top: 1vh;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1vw;
  }

  .content .icons svg {
    width: 3vh;
    margin-right: 1vh;
  }

  .content .introduction {
    display: none;
  }

  .content .images {
    position: absolute;
    width: 100%;
    top: 49vh;
    display: flex;
    justify-content: flex-start;
    animation: 10s loop linear infinite normal;
  }

  .content .images img {
    height: 16vw;
    margin: 0 2vw;
  }

  .content .faq {
    position: absolute;
    top: 66vh;
    padding-bottom: 3vh;
    padding: 2vw 5vw 3vh 5vw;
  }

  .content .faq .summary::before {
    content: none !important;
  }

  .content .faq .summary {
    border-radius: 23px;
    border: none;
    margin-top: 3vh !important;
  }
}